*, html, body {
	margin:0;
	padding:0;
}

/*---------------FONTES---------------*/

@font-face {
    font-family: 'Quicksand';
    src: url('../../../assets/fontes/quicksand/Quicksand_Book.otf');
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../../../assets/fontes/roboto/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../../../assets/fontes/roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto-medium';
    src: url('../../../assets/fontes/roboto/Roboto-Medium.ttf')
}

#pagina1 {
    height: 100%;
    width: 100%;
}

/*---------------SIDEBAR---------------*/

.sidebar {
    position: fixed;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 220px;
    height: 100%;
}

/*---------------Sidebar Header---------------*/

.sidebar .sidebar-header {
    background: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);;
    width: 220px;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .sidebar-header h1 {
    color: #ffffff;
    font-family: Roboto-bold;
    font-size: 30px;
    font-weight: bold;
}

/*---------------Sidebar Image---------------*/

.sidebar .sidebar-image img {
    width: 220px;
    height: 258px;
}

/*---------------Sidebar Topics---------------*/

.sidebar .sidebar-topics {
    color: #725C5C;
    font-family: Quicksand;
    font-size: 15px;
}

.sidebar .sidebar-topics .apresentacao, .sidebar-topics .comites, .sidebar-topics .autores, .sidebar-topics .eixos-tematicos, .sidebar-topics .trabalhos, .sidebar-topics .contato {
    box-shadow: 0 2px 2px -2px gray;
    width: 220px;
    height: 33px;
    margin-bottom: 0.5%;

    display: flex;
    align-items: center;
}

.sidebar .sidebar-topics .apresentacao, .sidebar-topics .comites, .sidebar-topics .autores, .sidebar-topics .eixos-tematicos, .sidebar-topics .contato {
    background-color: #ffffff;
}

.sidebar-topics .trabalhos .little-box {
    background: linear-gradient(180deg, #FFB455 0%, #ED7839 100%);
    width: 5px;
    height: 33px;
}

.sidebar-topics .trabalhos {
    background-color: #FDF1EB;
}

.sidebar .sidebar-topics p {
    margin-left: 10.91%;
}

/*---------------NAVBAR---------------*/

.navbar {
    background-color: #FDF1EB;
    height: 72px;   
    width: 100%;
    margin-left: 220px;

    display: flex;
}

.navbar .navbar-content {
    color: #725C5C;
    font-family: Roboto-light;
    font-size: 14px;
    margin-top: 5px;
    margin-left: 36px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .navbar-content .frases .frase2 {
    font-size: 22px;
    margin-top: 5px;
}

.navbar .navbar-content .selecao-lingua {
    border: 1px solid #cccccc;
    border-radius: 3px;
    width: 97px;
    height: 34px;
    margin-left: 210px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-content .bem-vindo {
    text-align: right;
    margin-left: 22px;
}

.navbar .navbar-content .foto-perfil {
    margin-left: 5px;
}

.navbar .navbar-content .foto-perfil img {
    border-radius: 50%;
}

/*---------------TÍTULO---------------*/

.conteudo-pagina {
    margin-left: 220px;
    display: flex;
    flex-direction: column;
}

.conteudo-pagina .primeira-sessao {
    display: flex;
    flex-direction: row;
}

.conteudo-pagina .primeira-sessao .titulo {
    margin-top: 20px;
    margin-left: 43px;
    width: 786px;
}

.conteudo-pagina .primeira-sessao .titulo h1 {
    color: #ED7839;
    font-family: Roboto-bold;
    font-size: 22px;
}

.conteudo-pagina .primeira-sessao .wrapper {
    display: flex;
    flex-direction: column;
}

.conteudo-pagina .primeira-sessao .wrapper .botoes {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 180px;
}

.conteudo-pagina .primeira-sessao .wrapper button {
    background-color: #ED7839;
    border-color: transparent;
    border-radius: 4px;
    height: 31px;
}

.conteudo-pagina .primeira-sessao .wrapper .botoes .button1-content {
    color: #ffffff;
    font-family: Roboto-bold;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
}

.conteudo-pagina .primeira-sessao .wrapper .botoes .button2-content, .botoes .button3-content {
    width: 43px;
    margin-left: 5px;
}

.conteudo-pagina .primeira-sessao .wrapper .botoes .button2-content img, .botoes .button3-content img {
    margin-top: 4px;
}

.conteudo-pagina .primeira-sessao .wrapper .citar-trabalho {
    text-align: right;
    margin-top: 12px;
    font-family: Roboto-medium;
    color: #ED7839;
    font-size: 14px;
}

.conteudo-pagina .video {
    margin-left: 45px;
    margin-top: 19px;
}